#home {
    background-image: url('../img/home.png');
    background-size: cover;
    background-position: center;
    color: #000000;
    height: 599px;
}

.container {
    position: relative;
}

.bottom-right {
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 10px;
}

.navbar {
    background-color: #2ECC71;
}

#docentes {
    background-image: url('../img/home.png');
    background-size: cover;
    background-position: center;
    color: #000000;
    height: 700px;
}

#doce {
    background-color: #2ECC71;
}

#docentet {
    background-color: rgb(245, 245, 245);
}

#borde_docente {
    border: #000000;
}